/* available purista font weights: 200, 300, 400, 600, 700 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url(https://units.arma3.com/assets/img/bg/default.jpg);
    background-repeat: repeat-y;
    background-size: 120vw;
    background-position: center top;
    background-attachment: fixed;
    background-color: black;
    /* font-family: 'Inter', sans-serif; */
    font-family: sans-serif;
    color: #fff;
    font-size: .875rem;
    font-family: purista-web, sans-serif;
    font-weight: bold;
    overflow-y: auto;
}

.noselect {
    user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.highlight-anim:after {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: .188rem;
    background: rgba(245, 245, 245, 0);
    transition: 0.25s;
}

.highlight-anim {
    position: relative;
}

.highlight-anim:after {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: .188rem;
    background: rgba(245, 245, 245, 0);
    transition: 0.25s;
}

.highlight-anim:focus,
.highlight-anim.active,
.highlight-anim:hover {
    color: #fff;
}

.highlight-anim:focus:after,
.highlight-anim.active:after,
.highlight-anim:hover:after {
    left: 0;
    width: 100%;
    background: #fff;
}

.highlight-anim.highlight-anim:focus:after,
.highlight-anim.highlight-anim.active:after,
.highlight-anim.highlight-anim:hover:after {
    background: #ff0000;
}

#navigation {
    width: 100%;
    height: 3.125rem;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-size: 11pt;
}

#navigation a {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5rem;
}

#navigation a:hover {
    background: rgba(34, 34, 34, .5);
}

#navigation img {
    width: 10rem;
    height: 10rem;
    margin-top: -3.125rem;
}

#logo-title {
    border: red .063rem solid;
    width: 12.5rem;
    text-align: center;
    height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin: auto;
    margin-top: 4.375rem;
    font-weight: bolder;
    margin-bottom: 5rem;
}

::-webkit-scrollbar {
    width: .313rem;
    height: .625rem;
    background-color: #0c0c0c;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
}

#title {
    text-transform: uppercase;
    font-size: 50pt;
    font-weight: 900;
    margin-bottom: .938rem;
}

form {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.6);
    display: grid;
    grid-auto-rows: min-content;
    gap: .063rem;
    color: rgba(255, 255, 255, 0.8);
}

#navigation a .material-icons {
    margin-right: .25rem;
}

form .form_inputfield,
.form_category_title {
    background: rgba(0, 0, 0, 0.65);
    padding: 3% 3% 3% 32%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

form .form_inputfield {
    min-height: 7.5rem;
    align-items: center;
}

form .input_title {
    font-size: 15pt;
    font-weight: bold;
}

form .input_subline {
    font-size: 13pt;
    font-weight: 500;
}

form .input_desc {
    height: fit-content;
    display: inline-block;
}

form input,
form select,
form button,
form textarea {
    background: #313131;
    border: .063rem solid #3E3E3E;
    height: 2.188rem;
    width: 100%;
    color: #fff;
    padding: 0% 2% 0% 2%;
    font-family: inherit;
    font-size: 12pt;
    font-weight: 400;
}

form button {
    width: 12.5rem;
    height: 2.813rem;
}

form button:hover {
    cursor: pointer;
}

form .bigbox {
    height: 6.25rem;
    line-height: 16pt;
}

#mlg-form #form_submit {
    min-height: 1.25rem;
    height: fit-content;
}

form .smallbutton {
    width: calc(50% - .188rem);
}

form textarea:focus,
form input:focus,
form button:focus {
    outline: solid .063rem;
}

form textarea {
    resize: none;
    padding: 2%;
}

form .form_category_title {
    padding: 1%;
    background: rgba(0, 0, 0, 0.80);
}

#mlg-form #form_submit button {
    float: right;
}

#mlg-form #form_submit {
    display: flex;
    justify-content: flex-end;
}


/* media queries to make site responsive */

@media only screen and (max-width: 66.25rem) {
    body {
        padding: 5% 10% 5%;
    }
}

@media only screen and (max-width: 59.37rem) {
    body {
        padding: 10% 10% 5%;
    }
    #navigation .text {
        display: none;
    }
}

@media only screen and (max-width: 71.25rem) {
    body {
        padding: 8% 10% 5%;
    }
    #title {
        font-size: 40pt;
    }
}

@media only screen and (max-width: 40.62rem) {
    body {
        padding: 13% 10% 5%;
    }
}

@media only screen and (max-width: 87.5rem) {
    #mlg-form .form_inputfield {
        padding: 3% 3% 3% 15%;
    }
}

@media only screen and (max-width: 59rem) {
    #mlg-form .form_inputfield {
        padding: 3% 3% 3% 6%;
        grid-template-columns: 1.5fr 3fr;
    }
}

@media only screen and (max-width: 39.38rem) {
    #mlg-form .form_inputfield {
        grid-template-columns: 2fr 3fr;
    }
}

@media only screen and (max-width: 42.5rem) {
    #mlg-form .form_inputfield {
        grid-template-columns: 2.5fr 3fr;
    }
}

@media only screen and (max-width: 42.5rem) {
    #mlg-form .form_inputfield {
        grid-template-columns: 2.5fr 3fr;
    }
    #logo-title {
        margin-bottom: 3.125rem;
    }
}

@media only screen and (max-width: 32.5rem) {
    body {
        padding: 13% 5% 10%;
    }
}

@media only screen and (max-width: 21.25rem) {
    body {
        padding: 13% 1% 10%;
    }
}


/*
#loadingscreen {
    opacity: 1;
    z-index: 99;
    background: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 6s;
    pointer-events: none;
}
*/


/* Missions Page */

#no-missions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20pt;
    gap: 10px;
}

#no-missions a {
    background: red;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10000px;
    font-size: 15pt;
}


/* Gallery Page */

#gallery #gallery-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#gallery #gallery-wrapper img {
    width: 100%;
}

#gallery #gallery-wrapper div {
    width: 80%;
}

#contact #contact-form .form_inputfield {
    padding: 3% 20% 3% 20%;
}

#loading {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #181818;
    left: 0;
    top: 0;
    transition: display 2s;
}

footer {
    width: 100%;
    height: 10rem;
    background: rgba(0, 0, 0, 0.65);
    margin-top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main {
    width: 100%;
    padding: 5% 15% 0% 15%;
    min-height: 40rem;
}

footer img {
    width: 30px;
}

footer div {
    width: 65px;
    height: 65px;
    border-radius: 1000px;
    background: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}