---
title: Befehlsausgabe
date: '2023-05-28'
nav_index: 4
---

<script>
    import operationsplan from '$lib/images/befehlsausgabe/graphischer_operationsplan.png';
    import ExampleBox from "$lib/wikitools/ExampleBox.svelte";
    import Tooltip from "$lib/wikitools/Tooltip.svelte";
</script>

Die Befehlsausgabe ist ein wichtiger Bestandteil der Vorbereitungsphase vor einer Operation, in der relevante Informationen vergeben werden. Die Ausgabe der Informationen erfolgt nach dem militärischen Befehlsschema _Lage_, _Auftrag_ und _Durchführung_ (kurz LAD). Führungskräfte werden zusätzlich über die _Einsatz- und Führungsunterstützung_ (kurz LADEF) informiert.

Das Befehlsschema wird auf dieser Seite anhand einer Operationsplanung mit graphischem Operationsplan näher erläutert.

## Operationsplan

![Graphischer Operationsplan]({operationsplan})

Abgebildet ist ein klassischer Operationsplan auf der Karte Kunduz, einer afghanischen Provinz. Das Befehlsschema ist unmittelbar an den Operationsplan geknüpft. Viele Markierungen des Plans werden in den Beispielen des Befehlsschemas aufgegriffen.

## Befehlsschema

### Lage

#### Feindliche Lage

Relevante Informationen zu feindlichen Truppenbewegungen. Vorwiegend wird über die Position, Art und Absicht des Feindes informiert.

<ExampleBox>

    „_Im Operationsraum ist eine feindliche Infanteriekompanie mit einer Mannstärke von circa 100 in Stellung. Vermutete Absicht der Kompanie ist die Verteidigung der Stadt Tappeh Ka, um den Zugriff auf eine dort befindliche Landbrücke zu wahren. Diese Brücke ist von hohem strategischen Wert, da sie die einzige Zufahrtsmöglichkeit an das östliche Flussufer im Süden von Kunduz ist. Zivile Informanten haben über feindliche Rekrutierungszentren und Sprengvorrichtungsfabriken informiert._“

</ExampleBox>

#### Eigene Lage

Relevante Informationen zu eigenen Kräften, darunter die Art und Position zum Zeitpunkt der Befehlsausgabe. Zusätzlich wird die Absicht des Führungspersonals mitgeteilt.

<ExampleBox>

    „_Die Operationskräfte befinden sich derzeit circa 500 Meter nördlich des Operationsraumes. Zur Durchführung stehen zwo motorisierte Infanterieteile (OSCAR-ECHO und OSCAR-WHISKEY) und ein Unterstützungsteil (SIERRA) bereit. Zur Operation stehen ein Transportpanzer, ein geschütztes Fahrzeug mit HMG und ein Sanitätsfahrzeug zur Verfügung._“

</ExampleBox>

#### Zivile Lage

Relevante Informationen zur Zivilbevölkerung. Dabei wird besonders auf das Verhältnis zwischen Zivilisten und eigenen Kräften eingegangen. Zusätzlich wird über das Vorkommen von Zivilisten und ziviler Fahrzeuge informiert.

<ExampleBox>

    „_Die Zivilbevölkerung im Operationsraum geht dem Alltäglichen nach. Zivilisten stehen den eigenen Kräften gemischt gegenüber. Im Operationsraum ist mit <Tooltip text="Improvised Explosive Device">IEDs</Tooltip>, <Tooltip text="Vehicle-Bound IED">VBIEDs</Tooltip> und Selbstmordattentätern zu rechnen._“

</ExampleBox>

### Auftrag

Knappe Darlegung der Einzelaufträge der agierenden Truppenteile.

<ExampleBox>

    „_Verlegung aller Truppenteile in den Operationsraum. SIERRA nimmt den Compound auf Markierung FP-1._“
    ---
    „_Nehmen von blauem Rechteck durch OSCAR-WHISKEY und SIERRA, nehmen von rotem Rechteck durch OSCAR-ECHO._“
    ---
    „_Verminung der Brücke (OBJECTIVE) durch SIERRA._“
    ---
    „_Nehmen von südöstlichen Compounds durch alle Teile._“

</ExampleBox>

### Durchführung

In diesem Punkt werden die Einzelaufträge der <Tooltip text="zum Beispiel die Gruppen eines Zuges">Truppenteile</Tooltip> erläutert. Dabei wird genauer auf die Vorgehensweise zur Erfüllung des Auftrags eingegangen.

<ExampleBox>

    „_SIERRA nimmt den Compound auf Markierung FP-1. OSCAR-WHISKEY positioniert sich westlich von FP-1 und übernimmt die rechte Flankensicherung. OSCAR-ECHO positioniert sich östlich von FP-1 und übernimmt die linke Flankensicherung._“
    ---
    „_Überlaufen von PL ALPHA durch alle Teile, gemeinsames Vorstoßen bis Höhe PL BRAVO. Ab PL BRAVO Sicherung des blauen Rechtecks durch OSCAR-WHISKEY und SIERRA, währenddessen nehmen von Compound "Overwatch" durch OSCAR-ECHO._“
    ---
    „_OSCAR-WHISKEY und OSCAR-ECHO beziehen Stellung an PL CHARLIE, währenddessen vermint SIERRA die Brücke (OBJECTIVE)._“
    ---
    „_Nach Verminung der Brücke gemeinsames Überlaufen von PL CHARLIE, OSCAR-WHISKEY und SIERRA stoßen Richtung Südosten vor, OSCAR-ECHO stößt Richtung Osten vor. Gemeinsames Nehmen der gelb eingezeichneten Compounds im Südosten._“

</ExampleBox>

### Einsatzunterstützung

#### Logistische Unterstützung

In diesem Punkt wird über Maßnahmen und Einrichtungen der <Tooltip text="z.B. Munition und SanMat für Soldaten oder Instandhaltung der Fahrzeuge">Versorgung</Tooltip> informiert.

<ExampleBox>

    „_Verbrauchsmaterial für Infanteristen befindet sich auf den Fahrzeugen im Feld. Alle Fahrzeuge sind mit Feldreparaturausrüstung, Radfahrzeuge mit Ersatzreifen und Kettenfahrzeuge mit Ersatzketten ausgestattet. Munition, Treibstoff, Reparaturgüter und weitere Verbrauchsmaterialien stehen im Verfügungsraum bereit._“
    ---
    „_Das Nachziehen von Nachzüglern wird durch SIERRA organisiert. Die Nachzügler können sich dazu im internen Funkkreis von SIERRA melden._“

</ExampleBox>

#### Sanitätsdienstliche Unterstützung

In diesem Punkt wird über Möglichkeiten der Versorgung verwundeter Kräfte informiert.

<ExampleBox>

    „_Vorrangig erfolgt die Versorgung verwundeter Soldaten durch Selbst- und Kameradenhilfe. Zur fortgeschrittenen Feldversorgung befinden sich Sanitäter im Operationsraum. Endversorgungen können beim Sanitätsfahrzeug in FP-1 durchgeführt werden._“

</ExampleBox>

### Führungsunterstützung

#### Funkverbindungsplan

In diesem Punkt wird über die Zuweisung der Funkgeräte, der Funkfrequenzen und der Aufteilung der Funkrufzeichen informiert.

<ExampleBox>

    „_Der Zugfunk befindet sich auf der AN/PRC-152 Kanal 01. Dieses Funkgerät ist für Führungspersonen und Stellvertreter reserviert._“
    ---
    „_OSCAR-WHISKEY funkt intern auf der AN/PRC-343 Kanal 01._“
    ---
    „_OSCAR-ECHO funkt intern auf der AN/PRC-343 Kanal 02._“
    ---
    „_SIERRA funkt intern auf der AN/PRC-343 Kanal 03._“

</ExampleBox>

#### Führungsreihenfolge

In diesem Punkt wird über die Einteilung der Führungsübernahme bei einem Ausfall einer Führungsperson informiert.

<ExampleBox>

    „_Leon ist Operationsleiter. Fällt dieser aus, übernimmt Emmi die Koordination der Truppenteile im Feld._“
    ---
    „_Stellvertreter der Trupp- und Gruppenführer werden individuell von den Führungskräften festgelegt._“

</ExampleBox>
