.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
.idea
.vscode/settings.json

# may get created for debugging purposes but
# does not need to be pushed to netlify anymore
/src/lib/search/searchIndex.json
