{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 1000000,
	"overrides": [
		{
			"files": ["*.svelte"],
			"options": {
				"svelteBracketNewLine": true
			}
		}
	]
}
