* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 20rem;
}

body {
    width: 100%;
    /* font-family: 'Segoe UI', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 13pt;
}

h1 {
    font-size: 30pt;
    margin-bottom: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 19pt;
    font-weight: 600;
    margin-bottom: 2rem;
}

h3 {
    font-size: 17pt;
    font-weight: 600;
}

h1,
h2,
h3 {
    color: #061748;
    display: block;
}

section {
    margin-bottom: 5rem;
}

main p {
    text-align: justify;
    width: 70%;
    display: inline-block;
}

main {
    width: 100%;
    padding: 10.4rem 8rem 10rem 8rem;
    color: #061748;
}

#home-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15pt;
    letter-spacing: .12rem;
    gap: 15px;
    color: #94A2CF;
}

#home-nav-list>a:not(.expandable),
.expandable a {
    width: 30rem;
    height: fit-content;
    display: flex;
    align-items: center;
    transition: color .2s ease-out;
    justify-content: space-between;
}

#home-nav-list>a:not(.expandable):hover,
.expandable a:hover,
.expandable>span:hover {
    color: #fff;
}

.expandable>span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.expandable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.expandable a {
    display: none;
    font-size: 13pt;
    margin-left: 2rem;
    margin-right: -2rem;
}

.expandable>a:nth-child(2) {
    margin-top: .5rem;
}

.expandable>a:last-child {
    margin-bottom: 1rem;
}