* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .313rem;
    height: .625rem;
    background-color: var(--secondary-bg);
}

::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    font-size: 11pt;
}

:root {
    --primary-bg: rgb(255, 255, 255);
    --secondary-bg: rgb(247, 247, 247);
    --primary-text: rgb(4, 4, 4);
    --secondary-text: rgb(207, 207, 207);
}

header {
    width: 100%;
    height: 4rem;
    background-color: rgb(63, 67, 50);
    padding: 0 3rem 0 3rem;
    align-items: center;
    display: flex;
    color: var(--secondary-text);
    border-bottom: 1px rgb(218, 218, 218) solid;
    justify-content: space-between;
}

header>div>a {
    display: flex;
    align-items: center;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
}

header>div>a:hover {
    display: flex;
    align-items: center;
    color: var(--primary-bg);
}

header .material-icons {
    font-size: 13pt;
    margin-bottom: -2px;
    margin-right: 7px;
}

header .icon-big {
    font-size: 20pt;
}

header #searchbar {
    border-bottom: 1px rgb(218, 218, 218) solid;
    width: 10rem;
}

header #searcharea {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}

footer {
    background-color: var(--secondary-bg);
    height: 15rem;
    width: 100%;
    border-top: 1px rgb(218, 218, 218) solid;
}

a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11pt;
    color: var(--secondary-text);
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(218, 218, 218);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 3fr 1.5fr;
}

main>div {
    background-color: var(--secondary-bg);
}

#content {
    background-color: var(--primary-bg);
    padding: 1rem 0 0rem 0;
}

#content img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Alike', serif;
    font-weight: normal;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 21pt;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: justify;
    line-height: 20pt;
}

section {
    height: fit-content;
    border-bottom: 1px rgb(218, 218, 218) solid;
    padding: 2rem 7rem 3rem 7rem;
}

section:last-child {
    border-bottom: none;
    padding-bottom: 4rem;
}

#wiki-logo {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgb(252, 252, 252);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wiki-logo img {
    width: 90%;
}

#article-nav>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #979797;
    font-size: 10pt;
    border-bottom: 1px rgb(218, 218, 218) solid;
    border-top: 1px rgb(218, 218, 218) solid;
}

#article-nav a {
    height: 3rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: rgb(88, 88, 88);
}

#article-nav a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#right-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.2rem;
}

#right-bar>div {
    height: 20rem;
    width: 90%;
    background: var(--primary-bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    border: 1px rgb(218, 218, 218) solid;
}

#right-bar img {
    width: 80%;
}

#right-bar>div *:not(img) {
    align-content: flex-start;
}