---
title: Scharfschütze
date: '2022-11-15'
nav_index: 2
---

<script>
    import Wipbanner from '$lib/wipbanner/wipbanner.svelte';
</script>

<Wipbanner />

Dedizierte Scharfschützen werden in der Taskforce Hellcat aktuell nicht eingesetzt.
