---
title: EOD (Explosive Ordnance Disposal)
date: "2022-11-15"
breadcrumbs: ["Aufklärer", "EOD (Explosive Ordnance Disposal)"]
---

Rollenprofil
------------

Aufgaben
--------

Ausrüstung
----------

Fertigkeiten
------------
