---
title: Grenadier
date: "2022-11-15"
breadcrumbs: ["Streitkräfte", "Grenadier"]
---

Rollenprofil
------------

Aufgaben
--------

Ausrüstung
----------

Fertigkeiten
------------
