---
title: Helikopterpilot
date: "2022-11-15"
breadcrumbs: ["Logistik", "Helikopterpilot"]
---

Rollenprofil
------------

Aufgaben
--------

Ausrüstung
----------

Fertigkeiten
------------
