---
title: JTAC (Joint Terminal Attack Controller)
date: "2022-11-15"
breadcrumbs: ["Aufklärer", "JTAC (Joint Terminal Attack Controller)"]
---

Rollenprofil
------------

Aufgaben
--------

Ausrüstung
----------

Fertigkeiten
------------
