---
title: MG-Schütze
date: "2022-11-15"
breadcrumbs: ["Streitkräfte", "MG-Schütze"]
---

Rollenprofil
------------

Aufgaben
--------

Ausrüstung
----------

Fertigkeiten
------------
