---
title: Scharfschütze
date: "2022-11-15"
breadcrumbs: ["Aufklärer", "Scharfschütze"]
---

Rollenprofil
------------

Aufgaben
--------

Ausrüstung
----------

Fertigkeiten
------------
