@use 'markdown';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  font-variant-ligatures: none;
}

// Mark external links
a[href]:not(:where(
  [href^="#"],
  [href=""],
  [href^="/"]:not([href^="//"]),
  [href*="//taskforcehellcat.de"],
  [href*="//wiki.taskforcehellcat.de"]
)):after {
  font-family: 'Material Icons Round';
  content: 'launch';
  margin-left: 0.3rem;
  vertical-align: bottom;
}

@mixin theme-light {
  --color-surface: #fff;
  --color-bg-primary: #101b3b;
  --color-bg-secondary: #273252;
  --color-bg-tertiary: #11182e;
  --color-text-primary: #101b3b;
  --color-text-secondary: #101b3b;
  --color-text-muted: #94a2cf;
  --color-neutral: #fff;
  --color-border: #e6e8eb;
  --color-nav-hover: #fff;
  --color-wiki-bg: #fff;
  --color-kbd-bg: #ebebeb;
  --color-kbd-text: #494949;
  --color-kbd-border: #a5a5a5;
  --color-example-bg: #e7e9eb;
  --color-example-border: #646464;
  --color-link: #436adf;
  --color-error: #c1a03e;
  --color-theme-picker-border: #666666;
  --color-scrollbar: #d6dee1;
  --color-scrollbar-hover: #a8bbbf;

  @include markdown.markdown-vars-light;
}

@mixin theme-dark {
  --color-surface: #181818;
  --color-bg-primary: #0a0a0a;
  --color-bg-secondary: #1b1b1b;
  --color-bg-tertiary: #050505;
  --color-text-primary: #fff;
  --color-text-secondary: #e9e9e9;
  --color-text-muted: #767676;
  --color-neutral: #fff;
  --color-border: #3d3d3d;
  --color-nav-hover: #fff;
  --color-wiki-bg: url('/images/dark-bg.jpg');
  --color-kbd-bg: #1e1e1e;
  --color-kbd-text: #e6e6e6;
  --color-kbd-border: #303030;
  --color-example-bg: rgb(15 15 15 / 65%);
  --color-example-border: #646464;
  --color-link: rgb(193, 37, 37);
  --color-error: #9d884a;
  --color-theme-picker-border: #111111;
  --color-scrollbar: #4a4a4a;
  --color-scrollbar-hover: #686868;

  @include markdown.markdown-vars-dark;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family:
    'GeneralSans-Variable',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: 430;
  font-size: 12pt;
  background-color: var(--color-bg-primary);
}

#main {
  &[data-theme='light'] {
    @include theme-light;
  }

  &[data-theme='dark'] {
    @include theme-dark;
  }

  &[data-theme='auto'] {
    @media (prefers-color-scheme: dark) {
      @include theme-dark;
    }
    @media (prefers-color-scheme: light) {
      @include theme-light;
    }
  }

  height: 100%;
  overflow-y: overlay;
  background-color: var(--color-bg-primary);
  scrollbar-color: var(--color-scrollbar) transparent;
  scroll-padding-top: 7rem;

  @media (max-width: 800px) {
    scroll-padding-top: 11rem;
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-hover);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h2:first-of-type {
  margin-top: 2rem;
}

h4 {
  margin-top: 1rem;
}

h1,
h2,
h3 {
  color: var(--color-text-primary);
  display: block;
}

.example-box p {
  margin-bottom: 0 !important;
}

content {
  width: 100%;
  padding: 4.4rem 8rem 10rem;
  color: var(--color-text-primary);
  background: var(--color-wiki-bg) !important;
  background-color: var(--color-bg-primary);
  background-size: 120%;
  background-position: -13rem 0;
}

.tree-view {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  color: var(--color-text-muted);
  list-style: none;
  padding: 0;
  margin: 0;

  > a:not(.tree-view__item) {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.2s ease-out;

    &:hover {
      color: var(--color-nav-hover);
    }
  }
}

.tree-view__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;

  &:focus {
    outline: none;

    > button {
      outline: auto;
    }
  }

  > button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    cursor: pointer;
    transition: color 0.2s ease-out;

    &:hover {
      color: var(--color-nav-hover);
    }
  }
}

.tree-view__group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tree-view__leaf {
  list-style: none;

  &:focus {
    outline: none;

    > a {
      box-shadow: 0 0 0 2px currentColor;
      border-radius: 0.2rem;
    }
  }

  a {
    display: flex;
    height: 3rem;
    font-size: inherit;
    margin-left: 4rem;
    margin-right: -4rem;
    align-items: flex-start;
    transition: color 0.2s ease-out;

    &:hover {
      color: var(--color-nav-hover);
    }

    &:before {
      content: '—';
      font-size: 13.4pt;
      height: 100%;
      left: -2.5rem;
      width: 0.15rem;
      background-color: var(--color-text-muted);
      position: relative;
      z-index: 6;
      top: -5%;
    }
  }

  &:first-child a {
    margin-top: 0.5rem;
  }

  &:last-child a {
    margin-bottom: 1rem;

    &:before {
      content: '—';
      height: 50%;
    }
  }
}

.tree-view__leaf a.active {
  color: var(--color-nav-hover);
  font-weight: 600;
}

.material-icons-round {
  vertical-align: text-bottom;
  color: inherit;
}

input {
  background: none;
  border: none;

  &::placeholder {
    color: var(--color-text-muted);
    font-weight: 300;
  }

  &:focus {
    outline: none;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.nav__logo {
  height: fit-content;
  width: fit-content;
  gap: 6px;
  transition: transform 0.1s ease-in-out;

  img {
    height: 3rem;
  }

  &:hover {
    transform: scale(1.08);
  }
}

.nav__return {
  height: 2rem;
  width: 100%;
  justify-self: end;

  &:hover {
    color: var(--color-nav-hover);
  }
}

.tree-view__item--open {
  .material-icons-round {
    transform: rotate(90deg);
  }
}

.home__nav {
  .tree-view {
    font-size: 15pt;
    font-weight: 500;
    gap: 15px;
    letter-spacing: 0.12rem;
  }

  .tree-view__leaf a {
    font-size: 13pt;
    font-weight: 400;
    letter-spacing: initial;
  }
}

.wiki-nav__list a,
.nav__return {
  transition: color 0.2s ease-out;
}

.wiki-nav__list a:hover {
  color: var(--color-nav-hover);
}

.nav__burger {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.nav__overlay {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 18pt;
  font-weight: 500;
  padding-top: 10rem;
  color: var(--color-text-muted);
  background-color: var(--color-bg-primary);
  position: fixed;
  z-index: 98;
  width: 100%;
  top: 8rem;
  text-align: center;
  overflow-y: auto;

  a {
    transition: color 0.2s ease-out;

    &:hover {
      color: var(--color-nav-hover);
    }
  }
}

.home__logo {
  width: 38rem;
  margin-top: 1rem;
}

.home__link {
  color: var(--color-text-muted);
  display: flex;
  align-items: center;

  span.material-icons {
    margin-left: -0.7rem;
    margin-right: -0.3rem;
  }
}

ul,
ol {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-bottom: 2rem;
}

ul > ul,
ol > ol {
  margin-bottom: 0;
}

ul {
  list-style-type: '─  ';
}

svg .struktur_icon:hover {
  transform: scale(1.1);
}

footer {
  background-color: var(--color-bg-tertiary);
  height: 100%;
  width: 100%;
  grid-column: 2;
  grid-row: 2;
  padding-inline: 8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text-muted);

  span {
    color: white;
  }

  p {
    @media (max-width: 800px) {
      text-align: unset;
    }
  }
}

.no-underline {
  border-bottom: none;
}

@media only screen and (max-width: 1200px) {
  content p {
    text-align: left;
  }
}

@media only screen and (max-width: 1100px) {
  .search__bar,
  .search__results {
    width: 100% !important;
  }

  .search {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .tree-view:not(.home__nav > .tree-view),
  .nav__return,
  .search {
    display: none !important;
  }

  .nav__logo:hover {
    transform: none;
  }

  .home {
    padding-top: 20%;
  }

  content {
    padding: 2rem 3rem 10rem;
  }
}

@media only screen and (max-width: 480px) {
  .tree-view__item > button {
    min-width: unset;
    width: 300px;
  }
}

@media only screen and (max-width: 370px) {
  .tree-view > a:not(.tree-view__item),
  .tree-view__leaf a {
    width: 25rem;
  }
}

@media only screen and (max-width: 350px) {
  .tree-view__item > button {
    min-width: unset;
    width: 230px;
  }
}
